body {
    background-color: #EEEEEE;
}

.tooltip-circle {
    stroke: #69b3a2;
    fill: white;
}

.tooltip {
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
}

.driver-stats-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.driver-stats-table th,
.driver-stats-table td {
    padding: 8px 10px;
}

.driver-stats-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.driver-stats-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}